Welcome to {{ ansible_hostname }}.
{{ ansible_distribution }} {{ ansible_distribution_version}}
deployed on {{ ansible_architecture }} architecture.
This is a server of group {{ group_name_owner }} and {{ server_env }} environment
